/bin
/build
*.ssm
/venv
/man/roff
/man/man1

build.cfg
_*

# git
*.orig

# Python
!__init__.py

# test suite
tests/mock_files/sample_exp/sequencing
tests/mock_files/sample_exp/listings
!*/tests/mock_files/sample_exp/logs/33331122111111
tests/mock_files/sample_exp/hub

# ssm control files change automatically with every new build
.ssm.d/control*

# IBM network file system files
.nfs*

# Temp files
*~

# Vim swap files
*.swp
*.swo
*.swn
*.swm

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Do not ignore the ssm metadata folder
!.ssm.d
