MAKEFLAGS += --warn-undefined-variables
SHELL := bash
 .SHELLFLAGS := -eu -o pipefail -c
 .DEFAULT_GOAL := all
 .DELETE_ON_ERROR:
# .SUFFIXES:

# Setup the environment for xc40 compilation if xc40
export IS_XC40=$(shell ${PWD}/scripts/is_platform_xc40.sh )
export XC40_MODULE_SWITCH=
export XC40_DYNAMIC_FLAG=
ifeq (${IS_XC40}, true)
		export ORDENV_PLAT=sles-11-amd64-64
		export XC40_MODULE_SWITCH=module switch PrgEnv-intel/5.2.82 PrgEnv-gnu ; 
		export XC40_DYNAMIC_FLAG=-dynamic
        .SUFFIXES: .c .o .h
endif

VERSION?=$(shell ${PWD}/scripts/get_repo_version.sh )
export HAS_INTERNET=$(shell ${PWD}/scripts/has_internet.sh )
export SSMPACKAGE=maestro_${VERSION}_${ORDENV_PLAT}
export BUILD_FOLDER=${PWD}/build
export BUILD_PLATFORM_FOLDER=${BUILD_FOLDER}/${SSMPACKAGE}
export BIN_FOLDER=${BUILD_PLATFORM_FOLDER}/bin
export TCL_COMPILE_BACKUP_FOLDER=_tcl/${ORDENV_PLAT}
export TCL_BIN_FOLDER=${BUILD_PLATFORM_FOLDER}/tcl_bin
export WRAPPER_PREFIX=maestro_${VERSION}.
export WRAPPERS_BUILD_FOLDER=${BUILD_PLATFORM_FOLDER}/src/core/wrappers
export SCRIPTS_FOLDER=${PWD}/scripts
export SSM_FOLDER=${PWD}/ssm
export MAN_FOLDER=${BUILD_PLATFORM_FOLDER}/man/man1
CC=cc
