 
ABC=meow
#ABC=/space/hall1/sitestore/eccc/cmod/cmoi/abc/123/${stuff}

#XYZ=/fs/site1/ops/eccc/cmod/prod/hubs/suites/ops/hrpds_national/umos/prevision.final/spot3 

#############################################################################
# <input>
#    wentz_surf      ${BGCKALT_ssmis_wentz_surf}
# </input>
##---------------------------------------------------------------------------
# <executables>
#    bgck.${instrum}_inovqc       bgck.${instrum}_inovqc
#    folder1/bgck.${instrum}_inovqc       bgck.${instrum}_inovqc
# </executables>
##---------------------------------------------------------------------------
# <output>
##   ${BGCKALT_DATE}_to_${instrum}     (bgckalt)
##   folder1/${BGCKALT_DATE}_to_${instrum}     (thing1)
# </output>
#############################################################################
